body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#questionBox {
  font-size: 18px;
  margin: 20px 0;
}

.option-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  background: #8ecae6;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.option-btn:hover {
  background-color: #219ebc;
}

#nextBtn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #023047;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.hide {
  display: none;
}

#scoreBox {
  margin-top: 20px;
  font-size: 20px;
  color: green;
}

#restartBtn {
  margin-top: 25px;
  padding: 10px 20px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
